body {
  background-size: 200% 200%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#pikachu-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  gap: 10px;
  transition: opacity 0.6s ease;
}
.pika {
  width: 120px;
  image-rendering: pixelated;
}
/* Hiệu ứng nhấp nhô của dấu ... */
.dots {
  display: flex;
  gap: 6px;
  font-size: 38px;
  color: rgb(214, 33, 120);
  font-weight: bold;
  font-family: monospace;
}

.dots span {
  animation: wave 0.7s infinite;
  display: inline-block;
}

.dots span:nth-child(2) {
  animation-delay: 0.15s;
}

.dots span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}

#pikachu-loader.hide {
  opacity: 0;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #86e7f2;
}
.hero-section {
  text-align: center;
  padding: 80px 20px;
  color: rgb(0, 0, 0);
}
.hero-img {
  width: 260px;
  image-rendering: pixelated;
  animation: float 3s ease-in-out infinite;
}
.hero-tittle {
  font-size: 42px;
  margin-top: 20px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(92, 66, 152, 0.4);
}
.hero-subtittle {
  font-size: 18px;
  opacity: 0.8s;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.logo-icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 90px;
  font-weight: bold;
  transition: 0.3s;
}
.menu a:hover {
  background-color: cornflowerblue;
  color: rgb(0, 0, 0);
  border-radius: 366px;
  padding: 10px;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: run 8s linear infinite;
}
@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* menu dưới thanh welcome */
.user-dropdown{
    position:relative;
    display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #2c2c2c;
  min-width: fit-content;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  border-radius: 8px;
  z-index: 1000;
  margin-top: 10px;
  overflow: hidden;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-bottom: 1px solid #444;
  white-space: nowrap;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #444;
}

.dropdown-content a i {
  margin-right: 10px;
  width: 20px;
}

.user-dropdown.active .dropdown-content {
  display: block;
}